error-text-color = rgba(255, 0, 0, 0.5)

.form-submit
    display block
    width 100%
    color #ffffff
    background-color #007bff
    border-color #007bff
    padding .5rem 1rem
    font-size 1.25rem
    border-radius .3rem

.form-label-group
    label
        width 100%

.form-label-failed-group
    color error-text-color
    input
       color error-text-color
       border-color red

.validation-text
    color error-text-color
