@import '~src/styles/form.styl'
@import '~src/styles/auth-form.styl'

.auth-form
    margin-top 5em
    .form-submit
        cursor pointer

.form-label-group
    margin 1em 0

.creation-link
    padding .5em
    text-align center
    a
        font-size 1.2em
        color #333333
        cursor pointer

.validation-error
    text-align center
