<form class="auth-form"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()">
  <div *ngIf="validationMsg" class="validation-error">
    <span class="validation-text">{{validationMsg}}</span>
  </div>
  <div class="form-label-group">
    <label type="email">
      Email:
      <input formControlName="userEmail"
             class="form-control"
             type="text" >
    </label>
  </div>
  <div class="form-label-group">
    <label>
      Password:
      <input formControlName="userPassword"
             class="form-control"
             type="password" >
    </label>
  </div>
  <button type="submit" class="btn form-submit" [disabled]="!loginForm.valid">Submit</button>
  <div class="creation-link">
    <a class="link" (click)="navigateToRegistration()">Don`t have an account!</a>
  </div>
</form>
