@import '~src/styles/form.styl'
@import '~src/styles/auth-form.styl'
@import '~src/styles/buttons-area.styl'

.reset-password-container
    width 100%
    display flex
    justify-content center
    position relative
