<div class="reset-password-container">
  <form [formGroup]="updateForm">
    <div class="form-label-group"
         [class.form-label-failed-group]="submitTouched && formErrors.oldPassword">
      <label>
        Old password:
        <input type="password" class="form-control" formControlName="oldPassword">
        <div *ngIf="submitTouched && formErrors.oldPassword" class="validation-error-text">
          {{ formErrors.oldPassword }}
        </div>
      </label>
    </div>
    <div class="form-label-group"
         [class.form-label-failed-group]="submitTouched && formErrors.newPassword">
      <label>
          New password:
        <input type="password" class="form-control" formControlName="newPassword">
        <div *ngIf="submitTouched && formErrors.newPassword" class="validation-error-text">
          {{ formErrors.newPassword }}
        </div>
      </label>
    </div>
    <div class="form-label-group"
         [class.form-label-failed-group]="submitTouched && formErrors.repeatPassword">
      <label>
          Repeat password:
        <input type="password" class="form-control" formControlName="repeatPassword">
        <div *ngIf="submitTouched && formErrors.repeatPassword" class="validation-error-text">
          {{ formErrors.repeatPassword }}
        </div>
      </label>
    </div>
    <div class="buttons-container">
      <button type="button"
              class="btn btn-secondary navigation-button"
              (click)="onSubmit()"
              [disabled]="submitTouched && !updateForm.valid">
        Reset password
      </button>
    </div>
  </form>
</div>
